@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:url(/src/static/imagem/movie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.caixabg {
  background: rgba(0, 0, 0, 0.699);
  
}

/*caixa do form*/
.container {
  width: 30%;
  justify-content: center;
  background: rgba(255, 255, 255, 0.767);
  
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.493);
}
.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  padding: 30px 65px;
  font-family: 'Montserrat', sans-serif;
  
}

/*///////////////////// inputs ///////////////////////*/

.wrapper{
  width: 80%;
  background: none;
  padding: 15px 30px;
/*  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);*/
}
.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;

}
.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(68, 66, 66, 0.459);
  outline: none;
  background: none;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}
.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: rgb(56, 52, 52);
  pointer-events: none; 
  transition: all 0.3s ease;
}
.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}

/*fieldset {
  box-sizing: border-box;
  border-top: black;
}*/



/*/////////////sobre filmes///////////////*/


.span-sobrefilme {
  font-weight: bold;
  display: block;
  margin: 30px 0px 10px 30px;

}
.filme-data{
  display: block;

}

.selecaofilme {
  width: 40%;
  height: 30px;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  margin-left: 30px;
  outline: none;
  border: none;
  border-bottom: 2px solid silver;
}
.caixa-filmedata{
  margin-left: 30px;
  display: inline-block;
}
#filmedata-label{
  margin-bottom: 10px;
}

textarea{
  border-radius: 5px;
  width: 80%;
  height: 6em;
  margin: 10px 25px;
  background:rgba(255, 255, 255, 0.616)

}

#classificacao-indicativa, .caixa-classificacao{
  width: 40%;
  display: inline-block;
  
}

.caixa-temporadas{
    width: 50%;
    display: inline-block;
}

@media only screen and (max-width: 960px) {
  .container {
    width: 60%;
  }
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  .container {
    width: 55%;
  } 

}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
  .container {
    width: 85%;
  } 
}

@media only screen and (max-device-width: 481px) { 
  .container {
    width: 85%;
  } 
}