@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@300;400;700&display=swap');
@

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:url(/src/static/images/bgteste2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.caixabg {
  background: rgba(0, 0, 0, 0.699);
  font-size: 10px;
}

/*caixa do form*/
form{
  padding: 30px 0px;
}
.container {
  width: 30%;
  background: rgba(255, 255, 255, 0.767);
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.493); 
  font-size: 1.7em;
}
.wrapper-semtitulo {
  padding-left: 30px;
}

.titulo {
  text-align: center;
  font-weight: bold;
  padding: 30px 65px;
  font-size: 35px;
  line-height: 1.2;
  color: #333;
   
  
}

/*///////////////////// inputs ///////////////////////*/

.wrapper{
  width: 93%;
  background: none;
  padding: 15px 30px;
}


.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
}

.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(68, 66, 66, 0.459);
  outline: none;
  background: none;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 15px;
  color: #882a8b;
}

.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: rgb(56, 52, 52);
  pointer-events: none; 
  transition: all 0.3s ease;
}

.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #391f3a;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before{
  transform: scaleX(1);
}

.div-small {
  display: block !important;
  color: red !important;
  font-size: 0.8em !important;
}

/*/////////////sobre filmes///////////////*/


.span-sobrefilme {
  font-weight: bold;
  display: block;
  margin: 30px 0px 10px 30px;

}
/*select*/

.selecaofilme {
  width: 40%;
  height: 30px;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  margin-left: 30px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.616);;
  border-bottom: 2px solid silver;
  display: inline-block;
}

/* input oculto*/
.div-oculta {
  display: none;
}
.div-no-oculta {
  width: 46%;
  display: inline-block;
}
#selectOculto{
  margin-left: 30px;
}
/*input data*/

.filme-data{
  display: block;
  border: none;
  height: 30px;
  width: 42%;
  background:rgba(255, 255, 255, 0.616);
  border-radius: 4px;
  margin-bottom: 10px; 

}
.caixa-filmedata{
  margin-left: 30px;
  margin-top: 10px;
}
.caixa-filmedata input {
  text-align: center;
}
#filmedata-label{
  margin-bottom: 5px;
}

.caixa-classificacao .wrapper{
    display: inline-block;
    width: 40%;
}

textarea{
  border-radius: 5px;
  width: 100%;
  height: 6em;
  background:rgba(255, 255, 255, 0.616);
}

/* botão enviar e botão url */

#enviar {
    height: 50px;
    width: 160px;
    background: #333;
    color: white;
    border: none;
    display: block;
    margin: 0px auto;
    transition: 0.4s;
}
#enviar:hover {
    transform: scale(1.1);
    border-radius: 10px;
}

#checkbox-termos{
    padding-left: 20%;
    padding-bottom: 20px;
    padding-right: 20%;
  }
  
 /*********************** MEDIA QUERY ************************/
 @media only screen and (max-width: 1700px) {
  .container {
    width: 40%;
  }
}
 
@media only screen and (max-width: 1280px) {
  .container {
    width: 45%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {

  .container {
    width: 60%;
  } 
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
  .container {
    width: 70%;
    font-size: 16px
  } 
  .titulo{
    font-size: 28px
  }
  .selecaofilme {
    width: 58%;
  }
  
  .wrapper-semtitulo{
    padding-left: 10px;
  }
  .caixa-classificacao .wrapper{
    display: inline-block;
    width: 70%;
  }
  .filme-data{
    width: 65%;
  }
}

@media only screen and (max-device-width: 481px) { 
  .container {
    width: 80%;
    font-size: 15px;
    padding: 0px;
  } 
  .wrapper{
    width: 93%;
    background: none;
    padding: 15px 10px;
  }
  .titulo{
    font-size: 22px;
    padding: 5px 20px;
  }
  .selecaofilme {
    width: 58%;
  }
  .wrapper-semtitulo{
      padding-left: 10px;
    }
 
  .caixa-classificacao .wrapper{
      display: inline-block;
      width: 50%;
    }

  .filme-data{
    width: 65%;
  }

}