@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@300;400;700&display=swap');


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:url(/src/static/imagem/bgform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
}
.caixabg {
  background: rgba(0, 0, 0, 0.699);
  
}

/*caixa do form*/

.container {
  width: 37%;
  background: rgba(255, 255, 255, 0.767);
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.493); 
  font-size: 1.7em;
}
.wrapper-semtitulo {
  padding-left: 30px;
}

.titulo {
  text-align: center;
  font-weight: bold;
  padding: 30px 65px;
  font-size: 35px;
  line-height: 1.2;
  color: #333;
   
  
}

/*///////////////////// inputs ///////////////////////*/

.wrapper{
  width: 93%;
  background: none;
  padding: 15px 30px;
}


.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
}

.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(68, 66, 66, 0.459);
  outline: none;
  background: none;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}

.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: rgb(56, 52, 52);
  pointer-events: none; 
  transition: all 0.3s ease;
}

.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before{
  transform: scaleX(1);
}


/*/////////////sobre filmes///////////////*/


.span-sobrefilme {
  font-weight: bold;
  display: block;
  margin: 30px 0px 10px 30px;

}
/*select*/

.selecaofilme {
  width: 40%;
  height: 30px;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  margin-left: 30px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.616);;
  border-bottom: 2px solid silver;
}

/*input data*/

.filme-data{
  display: block;
  border: none;
  height: 30px;
  width: 50%;
  background:rgba(255, 255, 255, 0.616);
  border-radius: 4px;
  margin-bottom: 10px;

}
.caixa-filmedata{
  margin-left: 30px;
  margin-top: 10px;
}

#filmedata-label{
  margin-bottom: 10px;
}

.caixa-classificacao .wrapper{
    display: inline-block;
    width: 40%;
}

textarea{
  border-radius: 5px;
  width: 80%;
  height: 6em;
  margin: 10px 25px;
  background:rgba(255, 255, 255, 0.616);
}

/* botão enviar e botão upload */

#enviar {
    height: 50px;
    width: 160px;
    background: #333;
    color: white;
    border: none;
    display: block;
    margin: 0px auto;
    transition: 0.4s;
  
}
#enviar:hover {
    transform: scale(1.1);
    border-radius: 10px;
}

input[type="file"] {
  display: none;
}

#label-file{
  padding: 20px 10px;
  width: 170px;
  background-color: #333;
  color: #FFF;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  margin: 10px 0px 10px 25px;
  transition: 0.4s;
}
#label-file:hover {
  transform:scale(1.05);
  border-radius: 10px;

}
.formulario {
  padding-bottom:30px
}

 /*********************** MEDIA QUERY ************************/
 
 
@media only screen and (max-width: 1280px) {
  .container {
    width: 50%;
  }
}


@media only screen and (max-width: 960px) {
  .container {
    width: 60%;
  }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  .container {
    width: 55%;
  } 
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
  .container {
    width: 70%;
    font-size: 16px
  } 
  .titulo{
    font-size: 28px
  }
  .caixa-classificacao .wrapper{
    display: inline-block;
    width: 70%;
  }
}

@media only screen and (max-device-width: 481px) { 
  .container {
    width: 85%;
    font-size: 15px
  } 

.titulo{
  font-size: 24px
}
  .wrapper-semtitulo{
    padding-left: 10px;
  }

  .caixa-classificacao .wrapper{
    display: inline-block;
    width: 70%;
  }
}