@charset "UTF-8";
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

header#navbar a.navbar-brand {
  cursor: default;
  margin-top: -5px;
}

header#navbar a.navbar-brand img {
  width: 134px;
  height: 38px;
}

header#navbar #navbarNav ul {
  margin-right: 10px;
}

header#navbar #navbarNav li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 0 20px;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
  cursor: pointer;
  white-space: nowrap;
}

header#navbar #navbarNav li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header#navbar div.search {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
}

header#navbar div.search:focus-within {
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(99, 37, 101, 0.7);
          box-shadow: 0px 0px 0px 4px rgba(99, 37, 101, 0.7);
}

header#navbar div.search input {
  color: #000;
  border: 1px;
  border-color: #632565;
}

header#navbar div.search input:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

header#navbar div.search input::-webkit-input-placeholder {
  color: #632565;
  text-align: center;
}

header#navbar div.search input:-ms-input-placeholder {
  color: #632565;
  text-align: center;
}

header#navbar div.search input::-ms-input-placeholder {
  color: #632565;
  text-align: center;
}

header#navbar div.search input::placeholder {
  color: #632565;
  text-align: center;
}

header#navbar div.search span {
  background-color: #632565;
  color: #fff;
  cursor: pointer;
  border: 1px;
  border-color: #632565;
}

@media (max-width: 990px) {
  header#navbar ul {
    margin: 0 !important;
  }
  header#navbar button.navbar-toggler {
    margin-top: -43px;
    margin-bottom: 10px;
  }
  header#navbar #navbarNav {
    margin-left: 0 !important;
    text-align: right;
  }
  header#navbar #navbarNav li.nav-item:hover {
    -webkit-transform: translate(-1%, 0) !important;
            transform: translate(-1%, 0) !important;
  }
  header#navbar div.search {
    width: 100% !important;
  }
}

/* Card Search */
.ui-widget.ui-widget-content {
  border-radius: 5px;
}

.ui-widget-content:hover div {
  border-color: #632565;
}

.movie-card {
  width: 100%;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #1b1b1b;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid #632565;
  border-radius: 0 0 .25rem .25rem;
}

.card-img-top {
  -webkit-clip-path: inset(13% 0 13% 0);
          clip-path: inset(13% 0 13% 0);
}

.card-title {
  color: #fff;
  text-align: justify;
}

.card-body a {
  width: 130px;
  height: 35px;
  margin-bottom: 5px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  color: #632565;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card-body a:hover {
  color: #fff;
  background-color: #632565;
}

/* Button Link */
a {
  color: #1b1b1b;
  text-decoration: none;
}

a:hover {
  color: #1b1b1b;
}

/* Mobile S */
@media only screen and (min-width: 320px) {
  .main-container {
    width: 100%;
    min-height: calc(100vh - 64px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #e5e5e5;
    border-left: 5px solid #1b1b1b;
    border-right: 5px solid #1b1b1b;
    border-bottom: 5px solid #1b1b1b;
  }
  /* Banner Section */
  .movies {
    width: 100%;
    max-height: 500px;
    background-color: #e5e5e5;
  }
  .swiper-container.swiper1 {
    width: 100%;
    height: auto;
  }
  .swiper-slide {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .movie-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 225px;
  }
  .movie-pic {
    width: 100%;
    height: auto;
    -webkit-clip-path: inset(13% 0 13% 0);
            clip-path: inset(13% 0 13% 0);
  }
  .swiper-span a {
    display: none;
    color: #632565;
    font-size: 1.5em;
    margin-top: 20px;
  }
  .swiper-span .synopsis {
    display: none;
  }
  .swiper-container {
    width: 100%;
  }
  .swiper-wrapper {
    padding-top: 20px;
  }
  .swiper-button-prev, .swiper-button-next {
    display: none;
    color: #ffffff !important;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  /* Vitrine */
  .catalogue {
    max-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0;
    margin-top: 0px;
    background-color: #1b1b1b !important;
  }
  .catalogue h1 {
    display: block;
    margin: 0px 0 -20px 0px;
    color: #b1b1b1 !important;
    font-weight: 200;
    text-transform: uppercase;
  }
  .swiper-container.swiper2 {
    width: 100%;
  }
  .swiper-container.swiper2 .swiper-wrapper {
    padding: 0;
  }
  .swiper-slide.movie-item {
    width: 310px;
    margin: 5px;
  }
  .swiper-slide.movie-item img {
    width: 90%;
    -webkit-clip-path: inset(13% 0 13% 0);
            clip-path: inset(13% 0 13% 0);
  }
}

/* Mobile M */
@media only screen and (min-width: 360px) {
  .catalogue {
    margin-top: 20px;
  }
}

/* Mobile L */
@media only screen and (min-width: 375px) {
  .catalogue {
    margin-top: 10px;
  }
  .movie-container {
    height: 280px;
  }
}

/* Tablet */
@media only screen and (min-width: 630px) {
  .main-container {
    min-height: calc(100vh - 71px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /* Banner Section */
  .movies {
    height: 60%;
  }
  .swiper-slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .movie-container {
    margin-left: 40px;
  }
  .movie-pic {
    display: block;
    width: 300px;
    height: 250px;
    margin-bottom: 25px;
  }
  .swiper-span {
    text-align: center;
  }
  .swiper-span a {
    display: block;
  }
  .swiper-span .synopsis {
    display: block;
    width: 80%;
    height: 200px;
    margin: auto;
    text-align: justify;
    font-size: 0.8em;
  }
  /* Vitrine */
  .catalogue {
    margin-top: -100px;
  }
  .catalogue h1 {
    width: 86%;
    margin-top: 20px;
  }
  .swiper-container.swiper2 {
    width: 86%;
  }
  .swiper-slide.movie-item {
    width: 450px;
    height: 250px;
  }
  .swiper-slide.movie-item img {
    width: 300px;
    height: 250px;
  }
}

/* Desktop S */
@media only screen and (min-width: 1366px) {
  .main-container {
    min-height: 100vh;
  }
  /* Banner Section */
  .swiper-span {
    width: 45%;
  }
  .swiper-span a {
    margin: 0;
    font-size: 3em;
  }
  .swiper-span .synopsis {
    font-size: 1.0em;
  }
  .movie-container {
    width: 350px;
    height: 300px;
    margin: 0;
  }
  .movie-pic {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }
  /* Vitrine */
  .catalogue {
    padding: 0;
  }
  .catalogue h1 {
    margin-top: 60px;
    margin-left: 60px;
  }
  .swiper-container.swiper2 {
    width: 81%;
  }
  .swiper-container.swiper2 .swiper-wrapper {
    margin: auto;
    padding: 0;
  }
  .swiper-slide.movie-item {
    width: 450px;
    height: 250px;
    margin: 5px;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
  }
  .swiper-slide.movie-item:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .swiper-slide.movie-item img {
    width: 300px;
    height: 250px;
    -webkit-clip-path: inset(13% 0 13% 0);
            clip-path: inset(13% 0 13% 0);
  }
}

/* Desktop L */
@media only screen and (min-width: 1440px) {
  .main-container {
    min-height: calc(100vh - 64px);
  }
  /* Banner Section */
  .swiper-span {
    width: 50%;
  }
  .swiper-span a {
    margin: 0;
    font-size: 4em;
  }
  .swiper-span .synopsis {
    font-size: 1.2em;
  }
  .movie-container {
    width: 550px;
    height: 400px;
    margin: 0;
  }
  .movie-pic {
    display: block;
    width: 550px;
    height: 400px;
    margin-bottom: 25px;
  }
  /* Vitrine */
  .catalogue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fbfbfb;
  }
  .catalogue h1 {
    margin: 20px 0 0 0px;
    color: #632565;
  }
  .swiper-container.swiper2 {
    width: 86%;
  }
  .swiper-container.swiper2 .swiper-wrapper {
    margin: auto;
    padding: 0;
  }
  .swiper-slide.movie-item {
    width: 350px;
    height: 250px;
  }
  .swiper-slide.movie-item img {
    width: 350px;
    height: 250px;
  }
  /* Swiper */
  .swiper-button-prev, .swiper-button-next {
    display: inline-block;
    color: #ffffff !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .swiper-button-prev:hover, .swiper-button-next:hover {
    color: #dbdbdbb9 !important;
  }
}

h2, p, li {
  font-family: 'Poppins', sans-serif;
  cursor: default;
}

/* ===== Corpo ===== */
.tela {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.playersinopse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/* ===== Player ===== */
.player {
  max-width: 1000.89px;
  max-height: 563px;
}

.player .wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.embed {
  border: 10px ridge #1b1b1b;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ===== Informações Produção */
section.tela .titulo, .sinopse, .dyg, .producao {
  color: #a09e9e;
  text-shadow: 0px 0px 11px #212529;
}

section.tela .titulo {
  display: block;
  text-align: center;
  height: 52px;
}

.sinopse {
  margin: 0;
}

section.tela .titulo h2 {
  text-align: center;
  font-size: clamp(1.4rem, 2vw, 2rem);
  font-weight: 700;
}

.sinopse h2 {
  text-align: justify;
  font-size: clamp(1rem, 1vw, 2rem);
  margin: 5px;
}

.dygproducao {
  margin: 15px 15px 15px 25px;
}

.dyg {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dyg h2 {
  font-size: clamp(1rem, 1vw, 1.2rem);
  font-weight: 200;
  margin: 5px;
}

.producao {
  margin-top: 15px;
  font-size: clamp(1rem, 1vw, 1.1rem);
}

.producao h2 {
  font-size: 1.1rem;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .tela {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .playersinopse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* Player */
  .player {
    width: 95%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* Informações Produção */
  .sinopse {
    width: 100%;
    padding: 15px 15px 0 15px;
  }
  section.tela .titulo .dyg .producao {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .dyg {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* .producao h2{    
    margin: 5px;    
} */
}

@media only screen and (min-width: 1025px) {
  .tela {
    width: 90%;
  }
  /* Player */
  .player {
    width: 100%;
    margin-left: 25px;
  }
  /* Informações Produção */
  h2 {
    font-size: 1.2rem;
    margin: 10px;
    padding-top: 10px;
  }
  .sinopse {
    max-width: 40vw;
    padding-left: 25px;
  }
}

/*caixa do form*/
form {
  cursor: default !important;
}

.formulario {
  padding-top: 30px;
  padding-bottom: 50px;
}

form.formulario button.left {
  float: left;
}

form.formulario button.right {
  float: right;
}

form.formulario button.btn-nav {
  background-color: transparent;
  border: 1px solid #632565;
  color: #632565;
}

form.formulario button.btn-nav:hover {
  background-color: #632565;
  color: #fff;
}

form.formulario button.btn-nav:focus {
  -webkit-box-shadow: 0px 0px 0px 4px rgba(99, 37, 101, 0.3);
          box-shadow: 0px 0px 0px 4px rgba(99, 37, 101, 0.3);
}

form.formulario div.btn {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -40px;
}

form.formulario button.cancel {
  float: right;
  background-color: transparent;
  border: 1px solid #dc3545;
  color: #dc3545;
}

form.formulario button.cancel:hover {
  background-color: #dc3545;
  color: #fff;
}

form.formulario button.cancel:focus {
  -webkit-box-shadow: 0px 0px 0px 4px rgba(220, 53, 69, 0.3);
          box-shadow: 0px 0px 0px 4px rgba(220, 53, 69, 0.3);
}

form.formulario button.edit {
  background-color: transparent;
  border: 1px solid #0d6efd;
  color: #0d6efd;
}

form.formulario button.edit:hover {
  background-color: #0d6efd;
  color: #fff;
}

form.formulario button.edit:focus {
  -webkit-box-shadow: 0px 0px 0px 4px rgba(13, 110, 253, 0.3);
          box-shadow: 0px 0px 0px 4px rgba(13, 110, 253, 0.3);
}

form.formulario button.confirm {
  float: left;
  background-color: transparent;
  border: 1px solid #198754;
  color: #198754;
}

form.formulario button.confirm:hover {
  background-color: #198754;
  color: #fff;
}

form.formulario button.confirm:focus {
  -webkit-box-shadow: 0px 0px 0px 4px rgba(25, 135, 84, 0.3);
          box-shadow: 0px 0px 0px 4px rgba(25, 135, 84, 0.3);
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

div.data {
  padding: 10px 30px !important;
}

div.data input {
  margin-top: -10px;
}

div.data label {
  color: #632565;
}

div.data textarea {
  text-align: justify;
  overflow-y: scroll;
  padding: 12px;
}

div.data textarea::-webkit-scrollbar {
  width: 3px !important;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 5px;
}

section.container {
  width: 50%;
  background: rgba(255, 255, 255, 0.767);
  margin: 50px auto;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.493);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.493);
  font-size: 1.7em;
  min-width: 256px;
}

form .titulo {
  text-align: center;
  font-weight: bold;
  padding: 15px;
  font-size: 35px;
  line-height: 1.2;
  color: #333;
}

/*///////////////////// inputs ///////////////////////*/
div.form .wrapper {
  width: 100%;
  background: none;
  padding: 19px 30px;
}

div.form .wrapper .input-div {
  height: 40px;
  width: 100%;
  position: relative;
}

div.form .wrapper .input-div input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(68, 66, 66, 0.459);
  outline: none;
  background: none;
}

.input-animacao {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  font-size: 15px;
  color: #632565 !important;
}

.input-div input:focus ~ label {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  font-size: 15px;
  color: #632565 !important;
}

div.form .wrapper .input-div label {
  position: absolute;
  left: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input-div .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.input-div .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #272227;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.input-div input:focus ~ .underline:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.div-small {
  display: block !important;
  color: red !important;
  font-size: 0.8em !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.form .wrapper span, .caixa-filmedata span {
  color: red;
  font-size: 0.9em;
}

/*/////////////sobre filmes///////////////*/
.sobrefilme {
  display: block;
  margin: 30px 0px 0px 30px;
  color: #383434;
  font-weight: bold;
}

/*select*/
.selecaofilme {
  width: 250px;
  height: 30px;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.616);
  border-bottom: 2px solid silver;
  display: inline-block;
}

/* input oculto*/
.div-oculta {
  display: none;
}

.div-no-oculta {
  width: 46%;
  display: inline-block;
}

/*input div*/
.filme-data {
  display: block;
  border: none;
  height: 30px;
  background: rgba(255, 255, 255, 0.616);
  border-radius: 4px;
  margin-bottom: 10px;
  width: 250px;
}

.caixa-filmedata input {
  text-align: center;
}

#filmedata-label {
  margin-bottom: 5px;
}

.caixa-metade-tela div.form .wrapper {
  display: inline-block;
  width: 45%;
}

textarea {
  border-radius: 5px;
  width: 100%;
  height: 10em;
  background: rgba(255, 255, 255, 0.616);
  padding: 4px;
  resize: none;
  overflow: hidden;
}

/*********************** MEDIA QUERY ************************/
@media only screen and (min-width: 1700px) {
  section.container {
    width: 32%;
    max-width: 900px;
  }
}

@media only screen and (min-device-width: 1300px) and (max-device-width: 1700px) {
  section.container {
    width: 40%;
    max-width: 600px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1300px) {
  section.container {
    width: 50%;
    max-width: 550px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  section.container {
    width: 60%;
    max-width: 500px;
  }
  .formulario {
    padding-top: 10px;
  }
  form .titulo {
    padding: 30px;
  }
  .selecaofilme {
    width: 230px;
  }
  .caixa-metade-tela div.form .wrapper {
    width: 50%;
    margin: 0px;
    padding: 10px 0px;
  }
  .filme-data {
    width: 230px;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
  section.container {
    width: 70%;
    max-width: 400px;
    font-size: 15px;
  }
  .formulario {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  div.form .wrapper {
    width: 100%;
    background: none;
    padding: 10px 10px;
  }
  form .titulo {
    font-size: 26px;
    padding: 25px;
  }
  .sobrefilme {
    margin: 30px 0px 5px 10px;
  }
  .selecaofilme {
    width: 230px;
    margin-top: 10px;
  }
  div.form .wrapper-semtitulo {
    padding-left: 10px;
  }
  .caixa-metade-tela div.form .wrapper {
    width: 50%;
    margin: 0;
  }
  .caixa-metade-tela {
    padding: 0px;
    margin-left: 0px;
  }
  .filme-data {
    width: 230px;
  }
}

@media only screen and (max-device-width: 481px) {
  section.container {
    width: 80%;
    max-width: 350px;
    font-size: 15px;
    padding-bottom: 30px;
  }
  .formulario {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  div.form .wrapper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    padding: 10px 10px;
  }
  div.form .wrapper .btn {
    margin-bottom: 15px;
    width: 170px;
  }
  div.form .wrapper .btn.cancel {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  div.form .wrapper .btn.confirm {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  form .titulo {
    font-size: 20px;
    padding: 15px 20px;
  }
  .sobrefilme {
    margin: 30px 0px 0px 10px;
  }
  .selecaofilme {
    width: 180px;
    margin-top: 12px;
  }
  div.form .wrapper-semtitulo {
    padding-left: 10px;
  }
  .caixa-metade-tela div.form .wrapper {
    display: inline-block;
    width: 60%;
    margin-left: 10px;
  }
  .caixa-metade-tela div.form .wrapper {
    margin: 0px;
  }
  .caixa-metade-tela {
    padding: 0px;
    margin-left: 0px;
  }
  .filme-data {
    width: 180px;
  }
}

section.card {
  background-color: #1b1b1bd3;
  min-width: 330px;
  width: 95%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  border-radius: 10px;
  cursor: default;
}

section.card .sobre {
  max-width: 600px;
}

section.card .sobre h2 {
  position: relative;
  color: #a09e9e;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: clamp(1.4rem, 2vw, 2rem);
}

section.card .sobre h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #632565;
}

section.card .sobre p {
  text-align: justify;
  word-break: keep-all;
  color: #a09e9e;
  margin: 5px;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

section.card .contact {
  max-width: 600px;
  margin-bottom: 50px;
}

section.card .contact h2 {
  font-size: clamp(1.4rem, 2vw, 2rem);
  position: relative;
  color: #a09e9e;
  font-weight: 700;
  margin-bottom: 15px;
}

section.card .contact h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #632565;
}

section.card .contact ul {
  margin: 5px;
  padding: 0;
}

section.card .contact li {
  width: 300px;
  color: #a09e9e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: clamp(1.1rem, 2vw, 1.2rem);
  margin: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.card .contact li img {
  position: relative;
  border: 1px solid white;
}

section.card .social {
  margin-left: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

section.card .social a {
  position: absolute;
}

section.card .social a:first-of-type {
  background-color: #317ac288;
  border: 1px solid white;
  border-radius: 3px;
  margin-top: 30px;
}

section.card .social a:first-of-type:hover {
  background-color: #317ac2;
}

section.card .social a:last-child {
  background-color: #00000088;
  border: 1px solid white;
  border-radius: 3px;
  margin-top: 30px;
}

section.card .social a:last-child:hover {
  background-color: black;
}

section.card .social i {
  color: white;
  padding: 6px;
}

@media only screen and (max-width: 990px) {
  /* ===== Sobre ===== */
  .sobre {
    width: 100%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .contact {
    width: 100%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact ul li {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact ul li .social {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 130px;
  }
  .contact ul li .social img {
    border-radius: 5px;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
  .contact ul li .social a {
    margin-left: 73px;
    text-align: center;
    width: 50px;
  }
  .contact ul li .social a:first-of-type {
    margin-top: 0;
  }
  section.card .contact .social a {
    margin-top: 36px;
  }
  .contact .social img {
    border-radius: 3px;
    width: 68px;
    height: 68px;
    -webkit-filter: grayscale(90%);
            filter: grayscale(90%);
  }
}

@media only screen and (min-width: 991px) {
  section.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  section.card .sobre {
    width: 40%;
    height: 100%;
    margin-top: 50px;
  }
  section.card .contact {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 50px;
  }
  section.card .contact .social a {
    display: none;
  }
  section.card .contact .social img {
    border-radius: 50%;
    width: 62px;
    height: 62px;
  }
  section.card .contact .social:hover img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: -webkit-filter 0.5s ease-in-out;
    transition: -webkit-filter 0.5s ease-in-out;
    transition: filter 0.5s ease-in-out;
    transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
    border-radius: 3px;
    -webkit-transition: border-radius 0.1s;
    transition: border-radius 0.1s;
  }
  section.card .contact .social:hover a {
    display: block;
    -webkit-transition: display 0.5s ease-in-out;
    transition: display 0.5s ease-in-out;
  }
  section.card .contact .social a:last-child {
    margin-left: 30px;
  }
}
/*# sourceMappingURL=main.css.map */