@charset "UTF-8";
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

header#navbar a {
  cursor: pointer;
}

header#navbar a img {
  width: 134px;
  height: 38px;
}

header#navbar #navbarNav li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 0 20px;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
  cursor: pointer;
}

header#navbar #navbarNav li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 990px) {
  header#navbar button.navbar-toggler {
    margin-top: -43px;
    margin-bottom: 10px;
  }
  header#navbar #navbarNav {
    margin-left: 0 !important;
    text-align: right;
  }
  header#navbar #navbarNav li.nav-item:hover {
    -webkit-transform: translate(-10%, 0) !important;
            transform: translate(-10%, 0) !important;
  }
}

/* Button Link */
a {
  color: #1b1b1b;
  text-decoration: none;
}

a:hover {
  color: #1b1b1b;
}

.movie-title p {
  color: #1b1b1b;
  cursor: pointer;
}

.fas {
  -webkit-transition: .3s;
  transition: .3s;
}

.movie-title p:hover .fas {
  color: #632565;
}

/* Mobile S */
@media only screen and (min-width: 320px) {
  /* Main Catálogo */
  #main-container {
    width: 100%;
    min-height: calc(100vh - 64px);
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: white;
    border-left: 5px solid #1b1b1b;
    border-right: 5px solid #1b1b1b;
    border-bottom: 5px solid #1b1b1b;
    -webkit-box-shadow: 0px 0px 20px 10px #1b1b1b;
            box-shadow: 0px 0px 20px 10px #1b1b1b;
  }
  /* Intro */
  .intro {
    width: 100%;
    height: 211px;
  }
  .intro .span {
    display: block;
    color: #632565;
    padding: 20px 0;
  }
  .intro h1 {
    font-size: 1.5rem;
    color: #1b1b1b;
    text-align: center;
  }
  /* Search Field */
  #search-field {
    display: block;
    width: 241px;
    height: 30px;
    margin: 15px auto;
    /* text-align: center; */
    border: 1px solid #632565;
    border-radius: 5px;
    outline: none;
    text-indent: 5px;
  }
  #search-field::-webkit-input-placeholder {
    color: #632565;
    text-align: center;
  }
  #search-field:-ms-input-placeholder {
    color: #632565;
    text-align: center;
  }
  #search-field::-ms-input-placeholder {
    color: #632565;
    text-align: center;
  }
  #search-field::placeholder {
    color: #632565;
    text-align: center;
  }
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  /* Movies */
  .movies {
    width: 100%;
  }
  .swiper-slide {
    width: 100%;
    height: 300px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .movie-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    width: 300px;
    height: 160px;
    -webkit-box-shadow: 0px 0px 30px 5px black;
            box-shadow: 0px 0px 30px 5px black;
  }
  .movie-pic {
    -webkit-clip-path: inset(13% 0 13% 0);
            clip-path: inset(13% 0 13% 0);
    width: 300px;
  }
  .swiper-container {
    width: 100%;
    background-color: #1b1b1b52;
  }
  .swiper-wrapper {
    padding: 20px 0;
  }
  .swiper-button-prev, .swiper-button-next {
    color: #ffffff !important;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  /* Ficha Técnica */
  .movie-title {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: #632565;
  }
}

/* Mobile M */
@media only screen and (min-width: 360px) {
  /* Intro */
  .intro .span {
    padding: 30px 0;
  }
  /* Search Field */
  #search-field {
    margin: 25px auto;
    width: 310px;
  }
}

/* Mobile L */
@media only screen and (min-width: 375px) {
  /* Search Field */
  #search-field {
    margin: 35px auto;
  }
}

/* Tablet */
@media only screen and (min-width: 630px) {
  div.container {
    padding-left: 0 !important;
  }
  #main-container {
    min-height: calc(100vh - 71px);
  }
  /* Intro */
  .intro {
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro .span {
    font-size: 3.5rem;
  }
  .intro h1 {
    font-size: 2.5rem;
  }
  /* Search Field */
  #search-field {
    width: 518px;
    height: 50px;
  }
}

/* Desktop */
@media only screen and (min-width: 1025px) {
  div.container {
    padding-left: 0.75rem !important;
  }
  /* Main Catálogo */
  #main-container {
    width: 80%;
    min-height: calc(100vh - 64px);
  }
  /* Intro */
  .intro {
    width: 100%;
  }
  .intro .span {
    display: inline-block;
    font-size: 3.0rem;
    color: #632565;
    text-transform: uppercase;
  }
  .intro h1 {
    font-size: 3.0rem;
    color: #1b1b1b;
  }
  .movie-container {
    width: 480px;
    height: 260px;
  }
  .swiper-slide {
    height: 400px !important;
  }
  .movie-pic {
    width: 480px;
  }
  /* Search Field */
  #search-field {
    width: 620px;
    height: 55px;
    font-size: 1.5rem;
  }
  /* Swiper */
  .swiper-button-prev, .swiper-button-next {
    color: #1b1b1b6e !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .swiper-button-prev:hover, .swiper-button-next:hover {
    color: #1b1b1b !important;
  }
}

h2, p, li {
  font-family: 'Poppins', sans-serif;
  cursor: default;
}

/* ===== Minhas alterações do Header */
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: #1b1b1b !important;
}

header#navbar #navbarNav li:hover {
  -webkit-transform: scale(1.3) !important;
  transform: scale(1.3) !important;
}

header#navbar #navbarNav li {
  -webkit-transition-duration: .5s !important;
  transition-duration: .5s !important;
}

/* ===== Corpo ===== */
.tela {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.playersinopse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/* ===== Player ===== */
.player {
  max-width: 1000.89px;
  max-height: 563px;
}

.wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.embed {
  border: 10px ridge #1b1b1b;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ===== Informações Produção */
.titulo, .sinopse, .dyg, .producao {
  color: #a09e9e;
  text-shadow: 0px 0px 11px #212529;
}

.titulo {
  display: block;
  text-align: center;
  height: 52px;
}

.sinopse {
  margin: 0;
}

.titulo h2 {
  text-align: center;
  font-size: clamp(1.4rem, 2vw, 2rem);
  font-weight: 700;
}

.sinopse h2 {
  text-align: justify;
  font-size: clamp(1rem, 1vw, 2rem);
  margin: 5px;
}

.dygproducao {
  margin: 15px;
}

.dyg {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dyg h2 {
  font-size: clamp(1rem, 1vw, 1.2rem);
  font-weight: 200;
  margin: 5px;
}

.producao {
  margin-top: 15px;
  font-size: clamp(1rem, 1vw, 1.1rem);
}

.producao h2 {
  font-size: 1.1rem;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .tela {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .playersinopse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* Player */
  .player {
    width: 95%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* Informações Produção */
  .sinopse {
    width: 100%;
    padding: 15px 15px 0 15px;
  }
  .titulo .dyg .producao {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .dyg {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* .producao h2{    
    margin: 5px;    
} */
}

@media only screen and (min-width: 1025px) {
  .tela {
    width: 90%;
  }
  /* Player */
  .player {
    width: 100%;
    margin-left: 25px;
  }
  /* Informações Produção */
  h2 {
    font-size: 1.2rem;
    margin: 10px;
    padding-top: 10px;
  }
  .sinopse {
    max-width: 40vw;
    padding-left: 25px;
  }
}

.card {
  background-color: #1b1b1bd3;
  min-width: 270px;
  width: 95%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  border-radius: 10px;
  cursor: default;
}

.card .sobre {
  max-width: 600px;
}

.card .sobre h2 {
  position: relative;
  color: #a09e9e;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: clamp(1.4rem, 2vw, 2rem);
}

.card .sobre h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #632565;
}

.card .sobre p {
  text-align: justify;
  word-break: keep-all;
  color: #a09e9e;
  margin: 5px;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.card .contact {
  max-width: 600px;
  margin-bottom: 50px;
}

.card .contact h2 {
  font-size: clamp(1.4rem, 2vw, 2rem);
  position: relative;
  color: #a09e9e;
  font-weight: 700;
  margin-bottom: 15px;
}

.card .contact h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #632565;
}

.card .contact ul {
  margin: 5px;
  padding: 0;
}

.card .contact li {
  min-width: 230px;
  color: #a09e9e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: clamp(1.1rem, 2vw, 1.2rem);
  margin: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .contact li img {
  position: relative;
  border: 1px solid white;
}

.card .social {
  margin-left: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.card .social a {
  position: absolute;
}

.card .social a:first-of-type {
  background-color: #317ac288;
  border: 1px solid white;
  border-radius: 3px;
  margin-top: 30px;
}

.card .social a:first-of-type:hover {
  background-color: #317ac2;
}

.card .social a:last-child {
  background-color: #00000088;
  border: 1px solid white;
  border-radius: 3px;
  margin-top: 30px;
}

.card .social a:last-child:hover {
  background-color: black;
}

.card .social i {
  color: white;
  padding: 6px;
}

@media only screen and (max-width: 991px) {
  /* ===== Sobre ===== */
  .sobre {
    width: 100%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .contact {
    width: 100%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .contact .social a:last-child {
    margin-left: 36px;
  }
  .contact .social img {
    border-radius: 3px;
    width: 68px;
    height: 68px;
  }
}

@media only screen and (min-width: 991px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    /* ===== Sobre ===== */
    /* ===== Contatos ===== */
  }
  .card .sobre {
    width: 40%;
    height: 100%;
    margin-top: 50px;
  }
  .card .contact {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 50px;
  }
  .card .contact .social a {
    display: none;
  }
  .card .contact .social img {
    border-radius: 50%;
    width: 62px;
    height: 62px;
  }
  .card .contact .social:hover img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: -webkit-filter 0.5s ease-in-out;
    transition: -webkit-filter 0.5s ease-in-out;
    transition: filter 0.5s ease-in-out;
    transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
    border-radius: 3px;
    -webkit-transition: border-radius 0.1s;
    transition: border-radius 0.1s;
  }
  .card .contact .social:hover a {
    display: block;
    -webkit-transition: display 0.5s ease-in-out;
    transition: display 0.5s ease-in-out;
  }
  .card .contact .social a:last-child {
    margin-left: 30px;
  }
}
/*# sourceMappingURL=main.css.map */