* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #632565;
}

/* Mobile */
@media only screen and (min-width: 320px) {
    /* Header Container */
    header {
        background-color: #1b1b1b;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header-container {
        width: 90%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    
    /* Logo */
    #logo-img-container {
        flex: 1;
    }

    #logo-img {
        display: inline-block;
        cursor: pointer;
    }

    /*Navbar*/
    .links {
        color: #fdfdfd;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        transition: 0.3s;
    }

    li {
        transition: 1s;
    }

    /* Menu Burger */
    .icon {
        cursor: pointer;
    }

    /* Campo de busca */
    #search-field {
        display: none;
    }
}

/* Tablet */
@media only screen and (min-width: 630px) {
    /* Header Container */
    .header-container {
        width: 90%;
        height: 90px;
    }

    /* Navbar */
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-links li {
        margin-left: 35px;
    }

    .icon {
        display: none;
    }

    /* Campo de busca */
    /* #search-field {
        width: 30%;
        height: 35px;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
        text-align: center;
        font-size: 1rem;
    } */
}

/* Desktop */
@media only screen and (min-width: 1025px) {
    /* Header Container */
    .header-container {
        width: 80%;
    }

    /*Navbar*/
    .navbar-links li {
        margin-left: 50px;
    }

    /* Campo de busca */
    #search-field {
        width: 20%;
    }

    /* Main Catálogo */
    .main-container {
        width: 80%;
        height: calc(100vh - 90px);
        background-color: white;
        margin: auto;
        border-left: 5px solid #1b1b1b;
        border-right: 5px solid #1b1b1b;
        box-shadow: 0px 0px 20px 10px #1b1b1b;
    }
}

li:hover {
    transform: scale(1.05);
}

.links:hover {
    color: #94348d;
}