* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Celulares */
@media only screen and (min-width: 320px) {
    /* Header Container */
    header {
        background-color: #1b1b1b;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header-container {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    
    /* Logo */
    #logo-img-container {
        flex: 1;
    }

    #logo-img {
        display: inline-block;
        cursor: pointer;
    }

    /*Navbar*/
    .links {
        color: #823385;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        transition: 0.3s;
    }

    li {
        transition: 1s;
    }

    /* Campo de busca */
    #search-field {
        display: none;
    }
}

/* Tablet */
@media only screen and (min-width: 630px) {
    /* Header Container */
    .header-container {
        width: 95%;
        height: 90px;
    }

    /* Navbar */
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #navbar-links li {
        margin-right: 25px;
    }

    /* Campo de busca */
    /* #search-field {
        width: 30%;
        height: 35px;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
        text-align: center;
        font-size: 1rem;
    } */
}

/* Desktop */
@media only screen and (min-width: 1025px) {
    /* Header Container */
    .header-container {
        width: 80%;
    }

    /*Navbar*/
    #navbar-links li {
        margin-right: 50px;
    }

    /* Campo de busca */
    #search-field {
        width: 20%;
    }
}

li:hover {
    transform: scale(1.05);
}

.links:hover {
    color: #ffffff;
}