* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(36, 35, 35) !important;
}
@media only screen and (min-width: 768px){
.tela{
    display: flex;
    width: 90%;
    height: 70vh;
    margin-top: 50px;
}   
    /* Player */
.player{
    width: 100%;
    order: 1;
    max-height: 563px;
    margin-left: 15px;
}
.wrapper{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Informações Produção */
.info-producao{
    color: rgb(160, 158, 158);
    display: grid;
    width: 40%;
    max-height: 563px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 55% 10% 25%;
    margin-left: 10%;
    background-color: tomato;
}
.info-producao div {
    display: flex;
    border: 1px solid whitesmoke;
    background-color: rgb(36, 35, 35);
}
h2{
    font-size: 1.2rem ;
    margin: 10px;
    padding-top: 10px;
}
.titulo{
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
}
.titulo h2{
    font-size: clamp;
    font-weight: 700;
}
.sinopse{
    padding: 5px 5px;
    grid-column: 1/3;
    grid-row: 2/3;
}
.sinopse h2{
    font-size: 1.2rem;
    margin: 0;
}
.dyg{
    grid-column: 1/3;
    grid-row: 3/4;
    justify-content: space-around;
    align-items: center;
}
.dyg h2 {
    font-size: 1.1rem;
    font-weight: 200;
}
.producao{
    display: flex;
    grid-column: 1/3;
    grid-row: 4/5;
    flex-direction: column;
}
.producao h2 {
    
    font-size: 1.1rem;
}
}
@media only screen and (max-width: 768px) {   
        /* Player */
.player{
    width: 100%;
    order: 1;
    max-height: 563px;
    margin-left: 15px;
}
.wrapper{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Informação Filme */

/* Informações Produção */
.info-producao{
    color: rgb(160, 158, 158);
    display: grid;
    width: 97%;
    grid-template-areas: "img s s"
                         "a a a"
                         "c c c";
    gap: 5px;
    margin: 1.5%;
}
.info-producao div {
    border: 2px outset whitesmoke;
    border-radius: 5px;
}
h2{
    font-size: 25px !important;
    margin: 10px;
}
}


@media only screen and (max-width: 425px){
h2{
    font-size: 15px !important;
    margin: 10px;
}
}

@media only screen and (max-width: 375px){
    h2{
        font-size: 14px !important;
        margin: 10px;
    }
}

@media only screen and (max-width: 320px){
    h2{
        font-size: 12px !important;
        margin: 10px;
    }
}