* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(36, 35, 35) !important;
}
@media only screen and (min-width: 768px){
.filme{
    display: inline-flex;
    width: 100%;
    height: 70vh;
    justify-content: space-around;
    margin-top: 50px;
}   
    /* Player */
.player{
    width: 100%;
    height: 100%;
    padding-bottom: 1.5%;
    margin-left: 10%;
    order: +1;
}
.embed-responsive{
    width: 100% !important;
    height: 100% !important;
}
iframe {
    width: 1000.89px !important;
    height: 563px !important;
    margin: 1.5% !important;
      
}

/* Informações Produção */
.info-producao{
    color: rgb(160, 158, 158);
    display: grid;
    width: 40%;
    height: 563px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 60% 10% 20%;
    gap: 5px;
    margin: 1.5%;
    margin-left: 5%;
}
.info-producao div {
    border: 2px outset whitesmoke;
    border-radius: 5px;
    display: flex;
}
h2{
    font-size: 1.2rem !important;
    margin: 10px;
}
.titulo{
    justify-content: center;
    align-items: flex-end;
    grid-column: 1/3;
}
.sinopse{
    grid-column: 1/3;
    grid-row: 2/3;
}
.dyg{
    grid-column: 1/3;
    grid-row: 3/4;
    justify-content: space-around;
    align-items: flex-end;
}
.producao{
    grid-column: 1/2;
    grid-row: 4/5;
}
.e-tecnica{
    grid-column: 2/3;
    grid-row: 4/5;
}
.e-tecnica h2{
    font-size: 1rem !important;
    margin: 10px;
}
}
@media only screen and (max-width: 768px) {   
        /* Player */
.player{
    width: 100%;
    height: 100vh;
    padding-bottom: 1.5%;
}
.embed-responsive{
    width: 100% !important;
    height: 100% !important;
}
iframe {
    width: 97% !important;
    height: 97% !important;
    margin: 1.5% !important;
      
}
/* Informação Filme */

/* Informações Produção */
.info-producao{
    color: rgb(160, 158, 158);
    display: grid;
    width: 97%;
    grid-template-areas: "img s s"
                         "a a a"
                         "c c c";
    gap: 5px;
    margin: 1.5%;
}
.info-producao div {
    border: 2px outset whitesmoke;
    border-radius: 5px;
}
h2{
    font-size: 25px !important;
    margin: 10px;
}
}


@media only screen and (max-width: 425px){
h2{
    font-size: 15px !important;
    margin: 10px;
}
}

@media only screen and (max-width: 375px){
    h2{
        font-size: 14px !important;
        margin: 10px;
    }
}

@media only screen and (max-width: 320px){
    h2{
        font-size: 12px !important;
        margin: 10px;
    }
}