main {
  height: 100%;
}

main::before {
  content: '';
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: -110px;
  background-image: url('/src/static/images/wallpaper.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  filter: brightness(.2);
  z-index: -1;
}

.effect-parallax {
  margin: 0 auto;
  width: 100%;
  position: relative;
  min-height: 100%;
  background-position: 50% 0;
  background-repeat: repeat;
  font-size: 10px;
}

/*caixa do form*/

form {
  cursor: default !important;
}

form.formulario {
  padding: 40px 0px;
}

form.formulario button.left {
  float: left;
}

form.formulario button.right {
  float: right;
}

form.formulario button.btn-nav {
  background-color: transparent;
  border: 1px solid #632565;
  color: #632565;
}

form.formulario button.btn-nav:hover {
  background-color: #632565;
  color: #fff;
}

form.formulario button.btn-nav:focus {
  box-shadow: 0px 0px 0px 4px rgba(99, 37, 101, .3);
}

form.formulario div.btn {
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: -40px;
}

form.formulario button.cancel {
  float: right;
  background-color: transparent;
  border: 1px solid #dc3545;
  color: #dc3545;
}

form.formulario button.cancel:hover {
  background-color: #dc3545;
  color: #fff;
}

form.formulario button.cancel:focus {
  box-shadow: 0px 0px 0px 4px rgba(220, 53, 69, .3);
}

form.formulario button.edit {
  background-color: transparent;
  border: 1px solid #0d6efd;
  color: #0d6efd;
}

form.formulario button.edit:hover {
  background-color: #0d6efd;
  color: #fff;
}

form.formulario button.edit:focus {
  box-shadow: 0px 0px 0px 4px rgba(13, 110, 253, .3);
}

form.formulario button.confirm {
  float: left;
  background-color: transparent;
  border: 1px solid #198754;
  color: #198754;
}

form.formulario button.confirm:hover {
  background-color: #198754;
  color: #fff;
}

form.formulario button.confirm:focus {
  box-shadow: 0px 0px 0px 4px rgba(25, 135, 84, .3);
}

select {
  appearance: none;
}

div.data {
  padding: 10px 30px !important;
}

div.data input {
  margin-top: -10px;
}

div.data label {
  color: #632565;
}

div.data textarea {
  text-align: justify;
  overflow-y: scroll;
  padding: 12px;
}

div.data textarea::-webkit-scrollbar {
  width: 3px !important;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 5px;
}

section.container {
  width: 50%;
  background: rgba(255, 255, 255, 0.767);
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.493); 
  font-size: 1.7em;  
  min-width: 256px;
}

form .titulo {
  text-align: center;
  font-weight: bold;
  padding: 15px;
  font-size: 35px;
  line-height: 1.2;
  color: #333; 
}

/*///////////////////// inputs ///////////////////////*/
div.form .wrapper {
  width: 100%;
  background: none;
  padding: 19px 30px;
}


div.form .wrapper .input-div {
  height: 40px;
  width: 100%;
  position: relative;
}

div.form .wrapper .input-div input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(68, 66, 66, 0.459);
  outline: none;
  background: none;
}

.input-animacao {
  transform: translateY(-15px);
  font-size: 15px;
  color: #632565 !important;
}

.input-div input:focus ~ label {
  transform: translateY(-15px);
  font-size: 15px;
  color: #632565 !important;
}

div.form .wrapper .input-div label {
  position: absolute;
  left: 0;
  pointer-events: none; 
  transition: all 0.3s ease;
}

.input-div .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.input-div .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #272227;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-div input:focus ~ .underline:before{
  transform: scaleX(1);
}

.div-small {
  display: block !important;
  color: red !important;
  font-size: 0.8em !important;
  height: fit-content;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

div.form .wrapper span, .caixa-filmedata span {
  color: red;
  font-size: 0.9em;
}

/*/////////////sobre filmes///////////////*/
.sobrefilme {
  display: block;
  margin: 30px 0px 0px 30px;
  color: rgb(56, 52, 52);
  font-weight: bold;
}

/*select*/
.selecaofilme {
  width: 250px;
  height: 30px;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.616);
  border-bottom: 2px solid silver;
  display: inline-block;
}

/* input oculto*/
.div-oculta {
  display: none;
}

.div-no-oculta {
  width: 46%;
  display: inline-block;
}

/*input div*/
.filme-data {
  display: block;
  border: none;
  height: 30px;
  background:rgba(255, 255, 255, 0.616);
  border-radius: 4px;
  margin-bottom: 10px; 
  width: 250px;
}

.caixa-filmedata input {
  text-align: center;
}

#filmedata-label {
  margin-bottom: 5px;
}

.caixa-metade-tela div.form .wrapper {
  display: inline-block;
  width: 45%;
}

textarea {
  border-radius: 5px;
  width: 100%;
  height: 10em;
  background: rgba(255, 255, 255, 0.616);
  padding: 4px;
  resize: none;
  overflow: hidden;
}

 /*********************** MEDIA QUERY ************************/
 @media only screen and (min-width: 1700px) {
  section.container {
    width: 32%;
  }
}

@media only screen and (min-device-width: 1300px) and (max-device-width: 1700px) {
  section.container {
    width: 40%;
    max-width: 600px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1300px) {
  section.container {
    width: 50%;
    max-width: 550px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
  section.container {
    width: 60%;
    max-width: 500px;
  }

  form .titulo {
    padding: 30px;
  }

  .selecaofilme {
    width: 230px;
  }

  .caixa-metade-tela div.form .wrapper {
    width: 50%;
    margin: 0px;
    padding: 10px 0px;
  }
  
  .filme-data {
    width: 230px;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 767px) { 
  section.container {
    width: 70%;
    max-width: 450px;
    font-size: 15px;
  }

  div.form .wrapper {
    width: 100%;
    background: none;
    padding: 10px 10px;
  }

  form .titulo {
    font-size: 26px;
    padding:25px
  }

  .sobrefilme {
    margin: 30px 0px 5px 10px;
  }

  .selecaofilme {
    width: 230px;
    margin-top: 10px;
  }

  div.form .wrapper-semtitulo {
    padding-left: 10px;
  }

  .caixa-metade-tela div.form .wrapper {
    width: 50%;
    margin: 0;
  }

  .caixa-metade-tela {
    padding: 0px;
    margin-left: 0px;
  }

  .filme-data {
    width: 230px;
  }
}

@media only screen and (max-device-width: 481px) { 
  section.container {
    width: 80%;
    font-size: 15px;
    padding: 0px;
  }

  div.form .wrapper {
    display: flex;
    flex-direction: column;
    width: 93%;
    align-items: center;
    background: none;
    padding: 10px 10px;
  }

  div.form .wrapper .btn {
    margin-bottom: 5px;
    width: 170px;
  }

  div.form .wrapper .btn.cancel {
    order: 1;
  }

  div.form .wrapper .btn.confirm {
    order: -1;
  }

  form .titulo {
    font-size: 22px;
    padding: 25px 20px;
  }

  .sobrefilme {
    margin: 30px 0px 0px 10px;
  }

  .selecaofilme {
    width: 180px;
    margin-top: 12px;
  }

  div.form .wrapper-semtitulo {
    padding-left: 10px;    
  }

  .caixa-metade-tela div.form .wrapper {
    display: inline-block;
    width: 60%;
    margin-left: 10px;
  }

  .caixa-metade-tela div.form .wrapper {
    margin: 0px;
  }

  .caixa-metade-tela {
    padding: 0px;
    margin-left: 0px;
  }
  
  .filme-data {
    width: 180px;
  }
}