header#navbar {
    a.navbar-brand {
        margin-top: -5px;

        img {
            width: 134px;
            height: 38px;
        }
    }

    #navbarNav {
        ul {
            margin-right: 10px;
        }

        li {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 600;
            font-size: 20px;
            padding: 0 20px;
            transition-duration: .7s;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    div.search {
        width: max-content;
        margin-top: 10px;

        &:focus-within {
            border-radius: 4px;
            box-shadow: 0px 0px 0px 4px rgba(99, 37, 101, .7);
        }

        input {
            color: #000;
            border: 1px;
            border-color: #632565;

            &:focus {
                box-shadow: 0 0 0 0;
            }

            &::placeholder {
                color: #632565;
                text-align: center;
            }
        }

        span {
            background-color: #632565;
            color: #fff;
            cursor: pointer;
            border: 1px;
            border-color: #632565;
        }
    }
}
  
@media (max-width: 990px) {
    header#navbar {
        ul {
            margin: 0 !important;
        }

        button.navbar-toggler {
            margin-top: -43px;
            margin-bottom: 10px;
        }

        #navbarNav {
            margin-left: 0 !important;
            text-align: right;

            li.nav-item:hover {
                transform: translate(-1%, 0) !important;
            }
        }   
        
        div.search {
            width: 100% !important;
        }
    }
}