/* Card Search */

.ui-widget.ui-widget-content {
    border-radius: 5px;
}

.ui-widget-content:hover {
    div {
        border-color: #632565;
    }
}

.movie-card {
    width: 100%;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    height: max-content;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b;
    border-top: 2px solid #632565;
    border-radius: 0 0 .25rem .25rem;
}

.card-img-top {
    clip-path: inset(13% 0 13% 0);
}

.card-title {
    color: #fff;
    text-align: justify;
}

.button {
    width: 130px;
    height: 35px;
    margin-bottom: 5px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #632565;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

.button:hover {
    color: #fff;
    background-color: #632565;
}

/* Button Link */

a {
    color: #1b1b1b;
    text-decoration: none;

    &:hover {
        color: #1b1b1b;
    }
}

/* Mobile S */
@media only screen and (min-width: 320px) {
    .main-container {
        width: 100%;
        min-height: calc(100vh - 64px);
        border-left: 5px solid #1b1b1b;
        border-right: 5px solid #1b1b1b;
        border-bottom: 5px solid #1b1b1b;
    }
   
    /* Banner Section */
    
    .movies {
        width: 100%;
        background-color: #fbfbfb;
    }

    .swiper-slide {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .movie-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 160px;
    }

    .swiper-span {
        a {
            display: block;
            color: #632565;
            font-size: 1.5em;
            margin-top: 20px;
        }

        .synopsis {
            display: none;
        }
    }

    .movie-pic {
        clip-path: inset(13% 0 13% 0);
        width: 300px;
    }

    .swiper-container {
        width: 100%;
    }

    .swiper-wrapper {
        padding-top: 20px;
    }

    .swiper-button-prev, .swiper-button-next {
        color: #ffffff !important;
        transition: 0.8s;
    }

    input[type="search"]::-webkit-search-cancel-button {
        display: none; 
    }
    input[type=text]::-ms-clear {  
        display: none; 
        width : 0; 
        height: 0; 
    }
}

/* Mobile M */
@media only screen and (min-width: 360px) {

}

/* Mobile L */
@media only screen and (min-width: 375px) {

}

/* Tablet */
@media only screen and (min-width: 630px) {
    div.container {
        padding-left: 0 !important;
    }

    .main-container {
        min-height: calc(100vh - 71px);
    }
    
    /* Banner Section */
    
    .swiper-slide {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .swiper-span {
        text-align: center;

        .synopsis {
            display: block;
            width: 80%;
            height: 200px;
            margin: auto;
            text-align: justify;
            font-size: 0.8em;
        }
    }

    .movie-container {
        margin-left: 40px;
    }
}

/* Desktop */
@media only screen and (min-width: 1025px) {
    div.container {
        padding-left: 0.75rem !important;
    }
    
    .main-container {
        width: 100%;
        min-height: calc(100vh - 64px);
    }

    /* Banner Section */
    
    .swiper-span {
        width: 50%;

        a {
            margin: 0;
            font-size: 4em;
        }

        .synopsis {
            font-size: 1.2em;
        }
    }

    .movie-container {
        width: 550px;
        height: 400px;
        margin: 0;
    }

    .movie-pic {
        display: block;
        width: 550px;
        height: 400px;
        margin-bottom: 25px;
    }

    /* Swiper */
    .swiper-button-prev, .swiper-button-next {
        color: #1b1b1b6e !important;
        transition: 0.3s;
    }

    .swiper-button-prev:hover, .swiper-button-next:hover {
        color: #1b1b1b !important;
    }
}