/* Card Search */

.ui-widget.ui-widget-content {
    border-radius: 5px;
}

.ui-widget-content:hover {
    div {
        border-color: #632565;
    }
}

.movie-card {
    width: 100%;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    height: max-content;
    background-color: #1b1b1b;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #632565;
    border-radius: 0 0 .25rem .25rem;
}

.card-img-top {
    clip-path: inset(13% 0 13% 0);
}

.card-title {
    color: #fff;
    text-align: justify;
}

.card-body a {
    width: 130px;
    height: 35px;
    margin-bottom: 5px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #632565;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

.card-body a:hover {
    color: #fff;
    background-color: #632565;
}

/* Button Link */

a {
    color: #1b1b1b;
    text-decoration: none;

    &:hover {
        color: #1b1b1b;
    }
}

/* Mobile S */
@media only screen and (min-width: 320px) {
    .main-container {
        width: 100%;
        min-height: calc(100vh - 64px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #e5e5e5;
        border-left: 5px solid #1b1b1b;
        border-right: 5px solid #1b1b1b;
        border-bottom: 5px solid #1b1b1b;
    }
   
    /* Banner Section */
    
    .movies {
        width: 100%;
        max-height: 500px;
        background-color: #e5e5e5;
    }

    .swiper-container.swiper1 {
        width: 100%;
        height: auto;
    }

    .swiper-slide {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .movie-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 225px;
    }

    .movie-pic {
        width: 100%;
        height: auto;
        clip-path: inset(13% 0 13% 0);
    }

    .swiper-span {
        a {
            display: none;
            color: #632565;
            font-size: 1.5em;
            margin-top: 20px;
        }

        .synopsis {
            display: none;
        }
    }

    .swiper-container {
        width: 100%;
    }

    .swiper-wrapper {
        padding-top: 20px;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none;
        color: #ffffff !important;
        transition: 0.8s;
    }

    input[type="search"]::-webkit-search-cancel-button {
        display: none; 
    }
    input[type=text]::-ms-clear {  
        display: none; 
        width : 0; 
        height: 0; 
    }

    /* Vitrine */
    .catalogue {
        max-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
        margin-top: 0px;
        background-color: #1b1b1b !important;

        h1 {
            display: block;
            margin: 0px 0 -20px 0px;
            color: #b1b1b1 !important;
            font-weight: 200;
            text-transform: uppercase;
        }
    }

    .swiper-container.swiper2 {
        width: 100%;

        .swiper-wrapper {
            padding: 0;
        }
    }

    .swiper-slide.movie-item {
        width: 310px;
        margin: 5px;

        img {
            width: 90%;
            clip-path: inset(13% 0 13% 0);
        }
    }
}

/* Mobile M */
@media only screen and (min-width: 360px) {
    .catalogue {
        margin-top: 20px;
    }
}

/* Mobile L */
@media only screen and (min-width: 375px) {
    .catalogue {
        margin-top: 10px;
    }

    .movie-container {
        height: 280px;
    }
}

/* Tablet */
@media only screen and (min-width: 630px) {
    // div.container {
    //     padding-left: 0 !important;
    // }

    .main-container {
        min-height: calc(100vh - 71px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    /* Banner Section */

    .movies {
        height: 60%;
        // margin-top: -100px;
    }
    
    .swiper-slide {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .movie-container {
        margin-left: 40px;
    }

    .movie-pic {
        display: block;
        width: 300px;
        height: 250px;
        margin-bottom: 25px;
    }

    .swiper-span {
        text-align: center;

        a {
            display: block;
        }

        .synopsis {
            display: block;
            width: 80%;
            height: 200px;
            margin: auto;
            text-align: justify;
            font-size: 0.8em;
        }
    }

    /* Vitrine */
    .catalogue {
        margin-top: -100px;

        h1 {
            width: 86%;
            margin-top: 20px;
        }
    }

    .swiper-container.swiper2 {
        width: 86%;
    }

    .swiper-slide.movie-item {
        width: 450px;
        height: 250px;

        img {
            width: 300px;
            height: 250px;
        }
    }
}

/* Desktop S */
@media only screen and (min-width: 1366px) {
    .main-container {
        min-height: 100vh;
    }
    
    /* Banner Section */

    .swiper-span {
        width: 45%;

        a {
            margin: 0;
            font-size: 3em;
        }

        .synopsis {
            font-size: 1.0em;
        }
    }

    .movie-container {
        width: 350px;
        height: 300px;
        margin: 0;
    }

    .movie-pic {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
    }

    /* Vitrine */
    .catalogue {
        padding: 0;

        h1 {
            margin-top: 60px;
            margin-left: 60px;
        }
    }

    .swiper-container.swiper2 {
        width: 81%;

        .swiper-wrapper {
            margin: auto;
            padding: 0;
        }
    }

    .swiper-slide.movie-item {
        width: 450px;
        height: 250px;
        margin: 5px;
        transition: .3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 300px;
            height: 250px;
            clip-path: inset(13% 0 13% 0);
        }
    }
}

/* Desktop L */
@media only screen and (min-width: 1440px) {
    // div.container {
    //     padding-left: 0.75rem !important;
    // }
    
    .main-container {
        min-height: calc(100vh - 64px);
    }

    /* Banner Section */

    .swiper-span {
        width: 50%;

        a {
            margin: 0;
            font-size: 4em;
        }

        .synopsis {
            font-size: 1.2em;
        }
    }

    .movie-container {
        width: 550px;
        height: 400px;
        margin: 0;
    }

    .movie-pic {
        display: block;
        width: 550px;
        height: 400px;
        margin-bottom: 25px;
    }

    /* Vitrine */
    .catalogue {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fbfbfb;

        h1 {
            margin: 20px 0 0 0px;
            color: #632565;
        }
    }

    .swiper-container.swiper2 {
        width: 86%;

        .swiper-wrapper {
            margin: auto;
            padding: 0;
        }
    }

    .swiper-slide.movie-item {
        width: 350px;
        height: 250px;
        // margin: 5px;

        img {
            width: 350px;
            height: 250px;
        }
    }

    /* Swiper */
    .swiper-button-prev, .swiper-button-next {
        display: inline-block;
        color: #ffffff !important;
        transition: 0.3s; 
    }

    .swiper-button-prev:hover, .swiper-button-next:hover {
        color: #dbdbdbb9 !important;
    }
}
