h2, p, li {
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

/* ===== Minhas alterações do Header */
.navbar.navbar-expand-lg.navbar-dark.bg-dark{
    background-color: #1b1b1b !important;
}
header#navbar #navbarNav li:hover {
    -webkit-transform: scale(1.3) !important;
            transform: scale(1.3) !important;
  }
header#navbar #navbarNav li {
    -webkit-transition-duration: .5s !important;
    transition-duration: .5s !important;
  }
/* ===== Corpo ===== */
.tela {
    height: max-content;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.playersinopse{
    display: flex;
    width: 100%;
}
/* ===== Player ===== */
.player{
    max-width: 1000.89px;
    max-height: 563px;
}
.wrapper{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.embed{
    border: 10px ridge #1b1b1b;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ===== Informações Produção */

.titulo, .sinopse, .dyg, .producao{
    color: rgb(160, 158, 158);
    text-shadow: 0px 0px 11px #212529;
}
.titulo{
    display: block;
    text-align: center;
    height: 52px;
}

.sinopse{
    margin: 0;
}
.titulo h2{
    text-align: center;
    font-size: clamp(1.4rem, 2vw, 2rem);
    font-weight: 700;
}
.sinopse h2{
    text-align: justify;
    font-size: clamp(1.0rem, 1vw, 2rem);
    margin: 5px;
    
}
.dygproducao{
    margin: 15px 15px 15px 25px;
}
.dyg{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.dyg h2 {
    font-size: clamp(1.0rem, 1vw, 1.2rem);
    font-weight: 200;
    margin: 5px;
}
.producao{
    margin-top: 15px;
    font-size: clamp(1.0rem, 1vw, 1.1rem);
}
.producao h2{
    font-size: 1.1rem ;
    margin: 0;
}

@media only screen and (max-width: 1024px) {   
.tela{
    width: 100%;
    flex-direction: column;
    align-content: center;
}
.playersinopse{
    flex-direction: column;
}
    /* Player */
.player{
    width: 95%;
    order: -1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Informações Produção */
.sinopse{
    width: 100%;
    padding: 15px 15px 0 15px;
}
.titulo .dyg .producao{
    height: fit-content;
}
.dyg{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* .producao h2{    
    margin: 5px;    
} */
}
@media only screen and (min-width: 1025px){
.tela{    
    width: 90%;    
}   
    /* Player */
.player{
    width: 100%;   
    margin-left: 25px;
}
/* Informações Produção */
h2{
    font-size: 1.2rem ;
    margin: 10px;
    padding-top: 10px;
}
.sinopse{
    max-width: 40vw;
    padding-left: 25px;    
}
}